<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artikel Bearbeiten</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link  th:href="@{style.css}" rel="stylesheet">
</head>
<body>
<h1>Artikel Bearbeiten</h1>
<input class="example_c" type="button" onclick="location.href='/'" value="Home"/>

<p th:text="'Artikel Nummer: '+${articlenumber} + ' Artikel:' +${name} + ' Preis: ' + ${price}"/>

<form action="update">

    <input type="hidden" th:value="${articlenumber}" th:attr="name='id'"/>

    <label for="name">Neuer Name:</label>
    <input type="text" name="name" id="name"/><br/>

    <label for="price">Neuer Preis(mit . trennen):</label>
    <input type="text" id="price" name="price"/>
    <input type="submit" value="Änderungen Absenden"/>


</form>
</body>
</html>