<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{style.css}" rel="stylesheet">

</head>
<body>
<h1>Artikelverwaltung A-1 (Spring)</h1>
<input class="example_c" type="button" onclick="location.href='/create'" value="Neuen Artikel anlegen"/>

<h2>Artikel Anzeigen</h2>
<form action="show">
    <label for="number">Artikelnummer:</label>
    <input type="text" name="id" id="number"><br/>
    <input type="submit" value="Suchen">
</form>


<h2>Artikel Bearbeiten</h2>
<form action="edit">
    <label for="editNumber">Artikelnummer:</label>
    <input type="text" name="id" id="editNumber"><br/>
    <input type="submit" value="Bearbeiten">
</form>

<h2>Artikel Löschen</h2>
<form action="destroy">
    <label for="delNumber">Artikelnummer des zu löschenden Artikels:</label>
    <input type="text" name="id" id="delNumber"><br/>
    <input type="submit" value="Löschen">
</form>

<br/>

<h2>Alle Artikel</h2>
<table>
    <tr th:each="article: ${articles}">
        <td th:text="${article.key}">Artikel Nummer:</td>
        <td th:text="${article.value.name}">Name:</td>
        <td th:text="${article.value.price}">Preis:</td>
    </tr>
</table>
</body>
</html>