<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{style.css}" rel="stylesheet">

</head>
<body>
<h1>Artikelverwaltung A-1 (Spring)</h1>


<!--- OSBOLET - EVTL LÖSCHEN?
<h2>Artikel Anzeigen</h2>
<form action="show">
    <label for="number">Artikelnummer:</label>
    <input type="text" name="id" id="number"><br/>
    <input type="submit" value="Suchen">
</form>
-->

<h2>Artikel Anlegen</h2>
<div>


<form action="create">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"><br/>

    <label for="price">Preis(mit . trennen):</label>
    <input type="text" id="price" name="price">
    <input type="submit" value="Anlegen">
</form>
</div>


<h2>Alle Artikel</h2>
<table>
    <tr>
        <th>Artikel Nummer:</th>
        <th>Artikel Name:</th>
        <th>Preis</th>

    </tr>
    <tr th:each="article: ${articles}">
        <td th:text="${article.key}">article.key</td>
        <td th:text="${article.value.name}">article.name</td>
        <td th:text="${article.value.price}">article.price</td>
        <td>
            <form action="destroy"><input type="submit" value="Löschen">
            <input type="hidden" th:value="${article.key}" th:attr="name='id'"/>
            </form>
        </td>

        <td>
            <form action="edit">
                <input type="submit" value="Bearbeiten">
                <input type="hidden" th:value="${article.key}" th:attr="name='id'"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>