<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artikelliste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link  th:href="@{style.css}" rel="stylesheet">
</head>
<body>
<h1>Artikel Anzeigen</h1>
<input id="btn" type="button" onclick="location.href='/'" value="Home"/>
<table id="allArticles">
    <tr>
        <th>ArtikelNr:</th>
        <th>Name:</th>
        <th>Preis:</th>
    </tr>
    <tr>
        <td th:text="${articlenumber}"></td>
        <td th:text="${name}"></td>
        <td th:text="${price}"></td>
    </tr>
</table>

</body>
</html>